# Xcode files
Products/*
build/*
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata

# OS X files
.DS_Store
profile

# Temporary doc files
Documentation/xml*
Documentation/cxml*
Documentation/cxhtml*