# xcode noise
Products/*
build/*
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3

# old skool
.svn

# osx noise
.DS_Store
profile

#temp doc files
Documentation/xml*
Documention/cxml*
Documentation/cxhtml*