//
//  Global-Shared.xcconfig
//  CZKit
//
//  Created by Carter Allen on 4/25/10.
//  Copyright 2010 Opt-6 Products, LLC. All rights reserved.
//

// Architectures
VALID_ARCHS						= i386 ppc ppc64 ppc7400 ppc970 x86_64 armv6 armv7
ARCHS							= x86_64 i386 ppc ppc64
//SDKROOT							= macosx10.5

// Build Locations
SYMROOT							= Products

// Build Options
RUN_CLANG_STATIC_ANALYZER		= YES

// Linking
PREBINDING						= NO
DYLIB_COMPATIBILITY_VERSION		= 1
DYLIB_CURRENT_VERSION			= 1
ZERO_LINK						= NO

// Code Generation
GCC_ENABLE_OBJC_GC				= supported

// Language
GCC_C_LANGUAGE_STANDARD			= gnu99

// Warnings
WARNING_CFLAGS					= -Wall -Wextra -Wshorten-64-to-32 -Wno-unused-parameter -Wfour-char-constants -Wstrict-selector-match -Wundeclared-selector