//
//  libCZKitUtilities-Shared.xcconfig
//  CZKit
//
//  Created by Carter Allen on 6/5/10.
//  Copyright 2010 Opt-6 Products, LLC. All rights reserved.
//

#include "../../../Global/Global-Shared.xcconfig"

// Architectures
ARCHS							= x86_64 i386 ppc ppc64 armv6 armv7

// Packaging
PRODUCT_NAME					= CZKitUtilities

// Language
GCC_PRECOMPILE_PREFIX_HEADER	= YES
GCC_PREFIX_HEADER				= Framework/Prefix.pch