//
//  Plugin-Shared.xcconfig
//  CZKit
//
//  Created by Carter Allen on 5/2/10.
//  Copyright 2010 Opt-6 Products, LLC. All rights reserved.
//

#include "../Global/Global-Shared.xcconfig"

// Packaging
INFOPLIST_FILE = Plugin/Plugin-Info.plist
PRODUCT_NAME = CZKit
WRAPPER_EXTENSION = ibplugin

// Language
GCC_PRECOMPILE_PREFIX_HEADER = YES
GCC_PREFIX_HEADER = Plugin/CZKit_Prefix.pch