//
//  Plugin-Release.xcconfig
//  CZKit
//
//  Created by Carter Allen on 5/2/10.
//  Copyright 2010 Opt-6 Products, LLC. All rights reserved.
//

#include "../Global/Global-Release.xcconfig"
#include "Plugin-Shared.xcconfig"

// Deployment
INSTALL_PATH = $(LOCAL_LIBRARY_DIR)/Frameworks/CZKit.framework/Resources

// Search Paths
FRAMEWORK_SEARCH_PATHS = $inherited $(FRAMEWORK_SEARCH_PATHS_QUOTED_FOR_TARGET_1)
FRAMEWORK_SEARCH_PATHS_QUOTED_FOR_TARGET_1 = "$(DEVELOPER_DIR)/Library/Frameworks"